# =====================
# 🔧 Logs
# =====================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================
# 📦 Dependencies / Builds
# =====================
node_modules/
dist/
dist-ssr/
dist-electron/
*.local

# =====================
# 🖥️ macOS 系统临时文件
# =====================
.DS_Store

# =====================
# 🧠 Editor/IDE 配置文件
# =====================
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================
# 🐍 Python 项目缓存
# =====================
__pycache__/
.venv/

# =====================
# 🛠️ Electron 打包临时文件
# =====================
upload-release.*
